[2017-08-25 14:39] jbonnet opened #838 "Add user verification in GET /users[/:user_id]"
Admin users can get any other users' data. Only me can get my data.

[2017-08-25 14:40] jbonnet opened #839 "Add user type restriction to create admin users"
Only admin users can create other admin users

[2017-08-25 14:44] jbonnet commented on #839
@dang03
We've discussed this, but I still have a doubt: since user creation is not restricted (you don't need the token), how is this possible (only admin users can create other admin users)?

[2017-08-28 07:42] dang03 commented on #839
hi @jbonnet
When the user registration process parses the new user JSON data, it specifically checks the `userType`. If it founds that the new user is an `admin`, then it requires and evaluates an access token.

Developers and customers users are free of access token when registering, however new admin registration requires a valid admin access token.

[2017-08-28 07:45] dang03 commented on #837
Hi @jbonnet
That's a good find, didn't notice of this bug. I'm going to investigate it, seems a problem related to the MongoDB. I'll update this issue.

[2017-08-28 08:10] dang03 commented on #803
Hi @jbonnet
These JSON objects can be considered as the "rule sets" for each Gatekeeper API. They are initially set in a JOSN file by the Gatekeeper (predefined in the User Management module), but can be dynamically updated through UM `/api/v1/resources` API. More info about this API will be available at [UM API wiki](https://github.com/sonata-nfv/son-gkeeper/wiki/GK-API-and-User-Management-Messag

[2017-08-28 09:00] jbonnet commented on #818
Hi, @srodriguezOPT
Yes, we had agreed that only one licence (the 'first' in the array) would be processed, but the code is prepared to accept many licences, I just wanted to test it. But let's make it work with one licence only first.

[2017-08-28 09:56] jbonnet commented on #818
@srodriguezOPT
Can you please send me the (link) package with the licence set, for testing?

[2017-08-28 10:00] srodriguezOPT commented on #836
Hi @felipevicens , @jbonnet

In the BSS,

![image](https://user-images.githubusercontent.com/15909508/29768870-2f356100-8be8-11e7-9483-f48ee07d365d.png)

responses with
`{"status":201,"count":1,"items":{"request_uuid":"bd613b65-c2a7-45b9-999b-c8bddfcf911d"},"message":"OK"}`

but

![image](https://user-images.githubusercontent.com/15909508/29768908-51d34ec0-8be8-11e7-9577-3abc0f0ca2fe.png)

respons

[2017-08-28 10:06] srodriguezOPT commented on #818
Hi @jbonnet ,

the private package is currently uploaded to the sp.int3 environment. You can see the schema in https://github.com/sonata-nfv/son-examples/blob/master/service-projects/sonata-vtc-private-service-sp/sources/nsd/sonata-demo.yml

[2017-08-28 10:07] jbonnet commented on #836
@srodriguezOPT , @felipevicens
Let me check...

[2017-08-28 10:11] jbonnet commented on #818
@srodriguezOPT
I know the schema, but I needed the package... :-D

[2017-08-28 10:12] felipevicens commented on #836
@srodriguezOPT The call is asyncronous. We need to wait until the answer is ready. The IA takes some time creating the reply to son-gtksrv. That's why the answer is empty

[2017-08-28 10:16] jbonnet commented on #836
Exactly, just like the service instantiation requests...

[2017-08-28 10:36] srodriguezOPT commented on #818
@jbonnet

you can download all packages generated in the son-examples. In this case:
https://jenkins.sonata-nfv.eu/view/DEVELOPMENT/job/son-examples/ws/service-projects/sonata-vtc-private-service-sp.son

[2017-08-28 12:44] jbonnet commented on #818
Ok, @srodriguezOPT
I've made a few tweaks (PR #842), can you please check again?
I'm not happy with the current design, though: we're mixing 'services' with 'service instances', which isn't right.

[2017-08-28 14:37] jbonnet commented on #531
Hi, @dang03
Shall we resume this issue?
Is it working for packages on the Catalogue's side? By the way, I don't think we should be able to delete services or functions... and what should we do in terms of ownership, shall a user be able to only delete his/her own packages? These plus the public ones? Something else?

Thanks,

[2017-08-28 15:38] jbonnet opened #844 "Add package, service and function user licence when requested by uuid"
Currently, the user licence is added only when no UUID is passed.

[2017-08-28 20:03] srodriguezOPT commented on #818
Hi @jbonnet

Same result:

![image](https://user-images.githubusercontent.com/15909508/29791291-b18600fc-8c3c-11e7-904b-715253bba4aa.png)

[2017-08-28 20:06] srodriguezOPT commented on #836
A retrying policy with 1 second between requests was implemented in the BSS for the getVims. It seems solved but we must put an eye on this to confirm it.

[2017-08-29 09:00] cgeoffroy opened #845 "Invalid response when fetching non-existing records"
The response returned by the `records/services` or `records/functions` endpoints, when trying to fetch non-existing records, is invalid. For example:

[code]

The expected response should be a `HTTP 404` code. For example, the `services` endpoint returns a valid result:
[code]

---

The logs show that `son-gtkrec` raise an exception and  `GtkApi::RecordManagerService#find_record_by_uuid` wraps it

[2017-08-29 09:41] jbonnet commented on #836
@srodriguezOPT
A better solution is the BSS to have an endpoint the GK could call when things are ready (a callback). That endpoint should be passed in the initial request. Same for the services instantiation, update and termination.

[2017-08-29 09:56] jbonnet commented on #818
Hi, @srodriguezOPT
On which environment are you getting those values from, `INT3`? 'Cause I can not find NSD with UUID `23224da8...cde2` in the logs...
Thanks

[2017-08-29 10:07] srodriguezOPT commented on #836
@jbonnet
Yes, I agree. After this release, we need to develop a better solution for asynchronous requests.
This solution (really ugly) is temporal for this release.

[2017-08-29 10:13] srodriguezOPT commented on #818
Hi, @jbonnet

Yes, INT3. But currently, this is only an NSD deployed, the public one.

Every time that the int-9-environment-deploy is executed, the uuids change.

[2017-08-29 10:37] dang03 commented on #531
Hi @jbonnet
This is already working in the Catalogue side, and it is exclusive at package level. Services and descriptors cannot be removed separately as they are part of one or multiple packages.

In terms of ownership, nothing has been defined yet, so perhaps what is still pending is to decide and implement the logics that allows a user to remove certain packages.

We can find the `username` tha

[2017-08-29 13:05] cgeoffroy commented on #801
This issue seems resolved.

[2017-08-29 13:05] #801 closed

[2017-08-29 14:15] jbonnet opened #846 "Remove 'egress' and 'ingress' fields from Requests"
We're not storing them in the database.

[2017-08-30 08:05] felipevicens commented on #830
fixed by #847

[2017-08-30 08:05] #830 closed

[2017-08-30 10:26] jbonnet opened #851 "Fix styling issues"
Check [here](https://jenkins.sonata-nfv.eu/job/son-gkeeper/HTML_Report/)

[2017-08-30 12:48] jbonnet commented on #818
Hi, @srodriguezOPT
I think PR #852 fixed the bug. Can you please re-test and let me know?
Thanks,

[2017-08-30 13:08] srodriguezOPT commented on #818
Hi @jbonnet:

GET https://sp.int3.sonata-nfv.eu/api/v2/services?status=active&limit=10&offset=0

responses with

[code]

[2017-08-30 13:09] jbonnet commented on #818
Yes... :-1:
Just PR'ing the fix right now, sorry...

[2017-08-30 13:18] jbonnet commented on #818
@srodriguezOPT , again please?

[2017-08-30 13:22] srodriguezOPT commented on #818
@jbonnet

now there are no "user_licence" field:

![image](https://user-images.githubusercontent.com/15909508/29874432-08f47660-8d97-11e7-90f1-5312614e72fe.png)

[2017-08-30 14:02] jbonnet commented on #818
We're so near, @srodriguezOPT, we're so near!
More logging added... another try, please...?

[2017-08-30 14:03] srodriguezOPT commented on #818
@jbonnet

done. check the logs :)

[2017-08-30 14:29] jbonnet commented on #818
It's working now, but I'm deleting the NSD when the user has to buy the service: if the user has the NSD, he/she has everything, why buying a licence?
Is this behaviour right for the BSS?

[2017-08-30 14:43] srodriguezOPT commented on #818
@jbonnet

This option doesn't work. Remember that the BSS uses the info retrieved from the gatekeeper. If the NSD section is deleted, we have no information about the service to instantiate it:

![image](https://user-images.githubusercontent.com/15909508/29878209-2c9fa462-8da2-11e7-95b0-1e3a76ea3d3a.png)

[2017-08-30 14:44] jbonnet opened #856 "Extend licence and ownership verification to record retrieval"
Service and function records are currently returned without any owner/licence verification

[2017-08-30 14:46] jbonnet opened #857 "Extend licence and ownership verification to single service or function retrieval"
Currently no ownership or licence is being verified when a user requests a service or function meta-data

[2017-08-30 14:52] jbonnet commented on #818
Ok...
But what parts of the NSD the BSS needs? I see `name`, `description`, `vendor`, `service id` (`licence type` is the `user licence`that the GK injects). What else is needed? Any other field from the NSD for internal processing?

[2017-08-30 15:02] srodriguezOPT commented on #818
Yes, these ones, but when the NSD is deleted none of these fields are contained in the GET /services response:

[code]

And the BSS has no info about the name, description, version... How can the user know what service is licencing for? and how can the user select for instantiation a service if he doesn't know the name and description?

[2017-08-30 15:12] jbonnet commented on #818
I'll keep the needed fields within the `nsd` object, but delete the other fields, is that ok?
So the BSS will be able, without any change, to show what it has been showing (except in the details window).
Agreed?

[2017-08-30 15:18] srodriguezOPT commented on #818
yes, this should work.

We only lose the NSD details.

After this, we can try the get /licences api

[2017-08-30 15:58] jbonnet commented on #818
@srodriguezOPT
Done!

[2017-08-30 16:06] jbonnet commented on #818
Closed by PR #858

[2017-08-30 16:06] #818 closed

[2017-08-30 16:50] srodriguezOPT opened #859 "POST /licences fails"
Hi @jbonnet

$http.post(ENV.apiEndpoint+"/licences",data)

with var data={"service_uuid":id, "user_role":$localStorage.currentUser.user_role};

returns {"error":{"code":400,"message":"{}"}}

Ther "user_role" field is on the request data since the initial develop version and it is not needed but I think that it shouldn't fail because of it, right?

[2017-08-31 07:03] dang03 commented on #837
Hi @jbonnet
The UM did not return the creation date when registering a new user. Now this is fixed, as the example shows, this is the response from the UM:
[code]
However, when registering a user through Gatekeeper API, keeps returning `"created_at": null`, so I'm working on the GK User API to fix it.

[2017-08-31 08:01] jbonnet commented on #837
Great, @dang03,
Thanks!

[2017-08-31 08:56] jbonnet opened #861 "Add session token validation to licence retrieval"

[2017-08-31 09:32] dang03 commented on #837
Bug fixed. The user creation response from GK User API works fine:
[code]

[2017-08-31 09:36] jbonnet commented on #837
Thank you, @dang03 !

[2017-08-31 09:36] #837 closed

[2017-08-31 11:05] dang03 commented on #805
Hi @jbonnet,
PR #862 fixes the update email issue, form both UM and GK API sides.

[2017-08-31 11:12] dang03 commented on #805
While testing, I realized that we are not limiting certain actions to users yet. For example, if I'm `user06` I should not be able to update `user07` profile.
GK API properly uses the provided token to GET user profile, but a "validation" layer to check token owner actions is missing for methods such PUT and DELETE.

[2017-09-13 14:43] dang03 opened #870 "Developer end-user's public key update bug"
Gatekeeper API returns error 500 when updating end-user (developer) public key:
[users_controller.rb#L208](https://github.com/sonata-nfv/son-gkeeper/blob/master/son-gtkapi/routes/users_controller.rb#L208)
[code]

[2017-09-13 14:58] jbonnet commented on #870
Hey, @dang03, I think it has been fixed by PR #871. Can you please try again and let me know?
Thanks,

[2017-09-13 15:23] jbonnet opened #873 "Make all the options endpoints use the same handler"
Currently, each one of the `OPTIONS` endpoints have their own code. We can make them to be handled by just one function.

[2017-09-13 16:50] jbonnet commented on #817
Hey, @tsoenen and @dang03
Is this issue fixed?

[2017-09-14 07:41] dang03 commented on #870
@jbonnet
Yes, it is fixed, works fine now.

[code]

[2017-09-14 07:47] dang03 commented on #817
Hi @jbonnet,
I've seen `son-monitor` being registered as micro-service in the User Management these days. `son-slm` should have no problems to register too. I guess the issue is solved but @tsoenen should confirm this.

[2017-09-14 08:01] #870 closed

[2017-09-14 09:47] jbonnet commented on #859
Hi, @srodriguezOPT
I think PR #877 (and others before) fixes this... can you please confirm?

p.s.: thanks, @felipevicens !

[2017-09-14 10:08] srodriguezOPT commented on #859
Hi @jbonnet,

The GK is sending the private service with no user_licence field so BSS thinks that is public.

[2017-09-14 10:11] jbonnet commented on #859
Ok, @srodriguezOPT
I'll close this issue and open a new one to support fixing that problem.

[2017-09-14 10:11] #859 closed

[2017-09-14 10:12] jbonnet opened #879 "Fix private service without user licence field"
The GK is sending the private service with no user_licence field so BSS thinks that is public.

[2017-09-14 12:41] jbonnet commented on #817
Ok, so I'm closing it...

[2017-09-14 12:41] #817 closed

[2017-09-14 14:59] #846 closed

[2017-09-15 08:15] jbonnet opened #881 "Improve data returned when a licence is created"
Currently this is returned
[code]

[2017-09-15 09:06] jbonnet commented on #879
Hi, @srodriguezOPT
I can't reproduce the problem. See below: the second service is `private` (user `sonata`), so it gets the `"user_licence"="owned"`. Isn't this correct?
[code]

[2017-09-15 09:25] srodriguezOPT commented on #879
Hi @jbonnet
Yes, now seems to be working:
![image](https://user-images.githubusercontent.com/15909508/30475783-41ca2002-9a08-11e7-843a-c5ace049865b.png)

Can we test the private and no owned case?
With this, we could test the licence creation since the BSS.

[2017-09-15 09:54] jbonnet commented on #879
YESS! :-)
Of course! Just use other user than `sonata` or `jenkins`...

[2017-09-15 10:02] srodriguezOPT commented on #879
Hi @jbonnet,

I registered a new user "sonata1/sonata1" and the service appeared as "to buy" in terms of the licence. The licence acquisition went well but when the list of available services was refreshed, the service appeared as "Public" with no user_licence field.

[2017-09-15 10:03] jbonnet commented on #879
Hi, @srodriguezOPT
Hmm... different problem... let me look

[2017-09-15 10:35] #879 closed

[2017-09-15 10:40] jbonnet commented on #879
Hi, again @srodriguezOPT
I think I've fixed the problem. Have you created the licence through the BSS? It is created as `PUBLIC`, which is not coherent (if the `licence_type` field is absent, it defaults to `PUBLIC`).
We must make tests with multiple licences for multiple services and one user: I've tested this, but I'm not 100% confident of having covered all the cases

[2017-09-15 11:43] jbonnet commented on #650
Hey, @srodriguezOPT
I'm going to use a gauge for this KPI for the first time... :-)

[2017-09-15 12:35] #650 closed

[2017-09-15 13:08] jbonnet commented on #650
Hmm... not yet, still using the `counter` kind of KPI (and not the `gauge`). But this depends on how @mzacharioudakis will use this in the GUI: I'll start testing this, if everything is ok, you'll start having a new KPI, `service_instantiation_time`.

This would be really important to show in the GUI, preferably in the F2F: it's the **90 days to 90 minutes** KPI.

[2017-09-15 14:54] jbonnet commented on #819
Closed by #887

[2017-09-15 14:54] #819 closed

[2017-09-16 15:52] jbonnet opened #888 "Make the /available-service more robust"
It brakes when the service is not available

[2017-09-17 15:23] jbonnet commented on #686
Paths like `/packages` are currently hardcoded in code, and should be migrated to the `./config/services.yml` file instead. **Note:** this file already specifies `url`coming into the system through environment variables, which should be kept.

[2017-09-19 09:47] jbonnet opened #889 "Add descriptor reference when service is to be bought"
We are restricting too much the fields we return when the service is to be bought. Add the `descriptor_reference` field.

[2017-09-20 09:46] dang03 opened #890 "User Management creates a customer's keypair for FSM"
Additional functionality required when a service is instantiated. User Management creates a customer's keypair at registration time. This keypair will be stored in the UM MongoDB database and available to the GK API through UM API `/api/v1/users?username=`.
More info:
[How the FSM accesses each VM of a given Service Instance](http://wiki.sonata-nfv.eu/index.php/How_the_FSM_accesses_each_VM_of_a_gi

[2017-09-20 10:29] jbonnet opened #891 "Fetch the user email on a service instantiation request"
And pass it to the SLM, for configuring the Monitoring.

[2017-09-20 10:30] jbonnet opened #892 "Fetch the customer's key pair"
Needed to inject those into the SLM

[2017-09-20 13:02] dang03 commented on #891
There are some options to implement this:
- The access token provided in the instantiation request made by the customer already includes the `email`, however it is encoded. The GK could simply decode the token using UM public key, or GK could forward the access token to be decoded to UM `/api/v1/userinfo` and receive the following response, which includes the `email`, e.g.:
[code]
- The GK can req

[2017-09-20 15:03] jbonnet commented on #805
@dang03, @pkarkazis
Guys, I guess that PR #894 closes this. Please check and let me know.

p.s.: @dang03 there's not (yet) a user delete endpoint... shall there be?

[2017-09-20 15:15] dang03 commented on #805
@jbonnet
The UM API already offers an endpoint to delete users (by `username` or `id`).
The question is if we want to allow users to delete their own account, which component (GUI and/BSS) makes the request... let's think about it.

[2017-09-20 15:39] jbonnet opened #896 "Implement delete package API"

[2017-09-21 07:12] srodriguezOPT opened #897 "Acquired licence does not appear in the licences retrieved from the gatekeeper"
Hi, @jbonnet,

After acquiring a private licence, it seems that the process goes well because the user_licence field changes to "licenced" but when the BSS requests for the licences (`GET https://sp.int3.sonata-nfv.eu/api/v2/licences`), the new licence does not appear (in that case, only the public existing one):

[code]

[2017-09-21 07:39] jbonnet commented on #896
Closed by PR #898

[2017-09-21 07:39] #896 closed

[2017-09-21 09:46] jbonnet opened #899 "New Monitoring related APIs"
[...] it would be nice to discuss how to proceed with the implementation of the following two additional apis on the gatekeeper in order to access Monitoring Manager data for entities different than VNFs (that is already implemented in GK API)

1) Get metric list
  -GET httpL//<monitoring_url>/api/v1/prometheus/metrics/list

2) Get monitoring data filtered by labels
  -POST http://<monitoring_url>

[2017-09-22 13:05] jbonnet commented on #899
So...
1. above seems easy;
2. what's returned here? Erros?

[2017-09-22 14:51] jbonnet commented on #897
Hi, @srodriguezOPT
The `license_type`and `validation_url` fields are part of the NSD. So maybe the GK should include them in the restricted fields that are returned when the service is not licensed, and then the BSS can include them in the parameters when the licence is created. What do you think?

[2017-09-25 06:46] srodriguezOPT commented on #897
Hi, @jbonnet
The problem is that BSS doesn't have a database and does not store any information. It can only show the information retrieved from the GK so if we want to show these fields in the BSS, it's necessary to send them from the Gatekeeper as a "GET licences" response. Otherwise, a secondary "GET all services" request will be needed to match licences and services with the aim of showing the

[2017-09-25 07:50] pkarkazis commented on #899
Hi,
in both cases, the returned codes are 200, 404 and 400.

[2017-09-25 08:07] srodriguezOPT commented on #897
Hi, @jbonnet
An interesting field that is missing in the GET licences response is the related service name. The service uuid exists but the name could be helpful for the user:

![image](https://user-images.githubusercontent.com/15909508/30798268-45b3c3de-a1d9-11e7-8249-027644eaa3a1.png)

[2017-09-25 08:28] jbonnet commented on #899
thanks, @pkarkazis I'll start working on that

[2017-09-25 08:36] jbonnet commented on #897
Hi, @srodriguezOPT
Ok, I'll open a specific issue to cover this missing service name.
Problem with the `GET /licences` is... it lists all saved licences, but in this case the licence does not exist yet, right? You'll have to `GET /services`...

[2017-09-25 08:42] srodriguezOPT commented on #897
Hi, @jbonnet

No, in this case, the licence already exists. This is the "already acquired" case.
The case that you mention is the other tab, the "service licences that can be acquired..." and as you say, the BSS needs to make the GET /services request.

[2017-09-25 09:45] jbonnet commented on #897
I'm checking this with @felipevicens, at the Licence Management module: it seems that there's a bug, and the private licence type plus the validation url fails to be saved...

[2017-09-25 09:49] jbonnet commented on #899
Sorry, @pkarkazis, just one more thing: 2. above is a POST... what should it return (I'm assuming the list of fields you mention is the body of the POST)?

[2017-09-26 09:18] jbonnet commented on #881
Closed by PR #906

[2017-09-26 09:18] #881 closed

[2017-09-26 10:28] jbonnet commented on #897
Ok, @srodriguezOPT, please check if this has been solved.

[2017-09-26 10:50] jbonnet commented on #891
...and also the phone, and sent it to the SLM:
[code]

[2017-09-26 11:07] srodriguezOPT commented on #897
Hi, @jbonnet,

the acquired licence is still missing, only the public one appears. On the other hand, we don't have the service_name field yet.

[2017-09-26 12:11] jbonnet commented on #897
@srodriguezOPT can you please post here the REST you're using? 'Cause creating a licence now seems ok:
[code]
And listing as well:
[code]
Thanks

[2017-09-26 12:20] srodriguezOPT commented on #897
Hi, @jbonnet

GET https://sp.int3.sonata-nfv.eu/api/v2/licences?limit=10&offset=0:

[code]

[2017-09-26 12:49] jbonnet commented on #899
Hey, @trakadasp, @pkarkazis
1. above is available as `.../api/v2/functions/metrics/names`, like in
[code]
Tell me if you need something different.
For 2. above, I still need to understand what it returns... (see my comment above)

**Note 1:** there a specific metric called `ALERTS`... is this also a real metric? Reads strange, when you compare with the other  metrics...
**Note 2:** maybe all the `

[2017-09-26 13:14] jbonnet commented on #897
Sorry, @srodriguezOPT
Can not reproduce... are you sure you're on INT3?
Also: to add the service's name, a new request must be made. Can the BSS do that request (`.../services/<service_uuid>`)?

[2017-09-26 13:38] pkarkazis commented on #899
Hi @jbonnet ,
1. The provided path (/api/v2/functions/metrics/name) its fine i will check it asap.
    Regarding your nodes:
    Note 1:  Under the 'ALERTS' Prometheus server provides the current status of the monitoring rules. So, we must keep it as it is.
    Note 2: I agree.

2. Regarding the POST on http://<monitoring_url>/api/v1/prometheus/metrics/data
    An example of POST body is:
   {
	"e

[2017-09-26 13:50] jbonnet commented on #899
Perfect, @pkarkazis
This is next in my agenda...
When you say you agree... with the promoted metrics you mean?

[2017-09-26 13:59] jbonnet commented on #861
Closed by PR #910

[2017-09-26 13:59] #861 closed

[2017-09-26 14:01] pkarkazis commented on #899
Hi @jbonnet,
I am referring to your second note above. I agree with your idea of _upgrading_ the metrics endpoints under one generic metric endpoint it has sense.

[2017-09-26 14:41] jbonnet commented on #899
Ok, @pkarkazis
It seems that 2. is already implemented, under the `.../api/v2/kpis/collected` endpoint. Can you please confirm that? Do you want it provided in another endpoint?

[2017-09-26 14:55] pkarkazis commented on #899
@jbonnet
can you send me an example call to check it, because didn't found anything in documentation (https://github.com/sonata-nfv/son-gkeeper/wiki/KPIs-usage)

[2017-09-26 15:21] jbonnet commented on #899
Hey, @pkarkazis
You're absolutely right, I missed that endpoint. Now, before answering you, I'm facing a stupid problem I'm taking some time to solve: how to correctly encode that `"labels":[{...},{...}]` in the `curl` URL... I'll get back to you soon.

[2017-09-26 16:00] jbonnet commented on #899
Using
[code]
the `POST` body you mention above becomes
[code]

[2017-09-26 16:09] jbonnet commented on #899
I noticed that the `labels` array is not being correctly translated internaly... therefore the result is `[]`

[2017-09-27 07:14] srodriguezOPT commented on #897
Hi, @jbonnet

The BSS can do the invocation but it will increase the invocations number (limited by GK, right?). There are two options:
- a unique request retrieving all services
- a single request per every existing licence
Is there no easy way to include the licence's service_name in the gatekeeper?

You can reproduce the issue directly in the BSS and check the invocations with the web developer

[2017-09-27 09:40] jbonnet commented on #899
Hi, @pkarkazis, here's the example:
[code]

[2017-09-27 09:40] #899 closed

[2017-09-27 09:50] jbonnet opened #915 "Enhance list of services returned"
Currently, the kind of licence is being injected by the GK when the `.../services` endpoint is used. This simplifies the work at the BSS side, but introduces a field that is not part of the formal (the `schema`) definition of a service.
The idea is to return different lists for the different kinds of services, namely:
* `public`
* `owned`
* `licensed`
* `to buy`

Coordinate with @srodriguezOPT (BS

[2017-09-27 09:58] jbonnet opened #916 "Enhance metrics endpoint"
Extracting metrics is currently *hidden* under the `.../functions` endpoint. We should improve this and *promote* it to the *root* level.
**Note 1:** we'll probably have to maintain `functions` (and `services` in the near future) specific metrics, so an endpoint like `.../metrics/functions` will probably make sense;
**Note 2:** these metrics should not to be confused with `kpis`.

[2017-09-27 10:17] pkarkazis commented on #899
Hi, @jbonnet
the api call on 'https://sp.int3.sonata-nfv.eu/api/v2/functions/metrics/names' returns:
{"error": {"code": 404, "message": "/api/v2/functions/metrics/names not supported"}}
could you please check it?

[2017-09-27 10:33] jbonnet commented on #899
Hi, @pkarkazis
Can you please retry? I just did:
[code]

[2017-10-06 15:19] tobiasdierich opened #919 "Undefined method on POST /api/v2/requests"
Hi,

I'm currently working with the SONATA project as a part of my bachelor's thesis. I'm trying to instantiate a service by making a POST request to `/api/v2/requests` with the following payload:

[code]

However, the son-gtkapi always returns a the following error:
[code]

Here's the log output:
[code]

I've tested the containers with the tags `latest`,  `dev` and `3.0`, all throwing the excepti

[2017-10-06 15:53] jbonnet commented on #919
Hi, Tobias,Thanks for having downloaded SONATA and trying it! Apparently you did everything right, but at the moment I'm not able to access the code, since I'm on a business travel. but I'll take a look at it ASAP and let you know.José Em 06/10/2017 17:19, Tobias Dierich <notifications@github.com> escreveu:Hi,
I'm currently working with the SONATA project as a part of my bachelor's thesis. I'm try

[2017-10-08 17:40] jbonnet commented on #919
Hi, @tobiasdierich
I think PR #920 has fixed the bug, but please retry and let me know.

Thanks again,

[2017-10-08 17:40] jbonnet commented on #821
Closed by PR #920

[2017-10-08 17:40] #821 closed

[2017-10-09 13:14] jbonnet commented on #629
Closed for v3.0

[2017-10-09 13:14] #629 closed

[2017-10-09 14:06] tobiasdierich commented on #919
Hi,
PR #920 fixed this issue, thanks.

Best regards,
Tobias

[2017-10-09 14:06] #919 closed

[2017-10-10 10:56] jbonnet commented on #891
Bon dia, @dang03
We'll also need the `phone` when available, and it seems to me that the above `{"sub":"8031545e-d4da...` does not contain it... can you please add to it? Or suggest another API to be used?

Thanks

[2017-10-10 12:45] dang03 commented on #891
Boa tarde @jbonnet,
 This `/api/v1/userinfo` just returns some limited fields, so in order to get the `phone_number`, then you need to use ` /api/v1/users?username=` as endpoint, which includes the `attributes` hash with additional user information. When requesting the `/users` API, you can expect this response:
[code]
You need to parse `attributes` hash, get `phone_number` value (if available), w

[2017-10-10 13:14] #891 closed

[2017-10-10 13:26] jbonnet commented on #891
Thanks, @dang03, just used it.
@tsoenen & @pkarkazis: customer's email is being passed in the request to the MANO as shown below:
![screen shot 2017-10-10 at 14 23 22](https://user-images.githubusercontent.com/11843/31388703-c30de564-adc6-11e7-845b-2e0f0b387e35.png)

I've already included the placeholder for the developer's data, in case we decide to implement it, so the format is a bit different

[2017-10-11 08:43] tsoenen commented on #891
Looks good.

Do we need a flag that indicates whether the developer is allowed to get monitoring data? Or is this reflected by the developers email field being empty?

[2017-10-11 08:52] jbonnet commented on #891
Yes, @tsoenen, emptyness should indicate non-existence... Or the GK may not even include the empty fields, whatever you and @pkarkazis prefer, like in:
[code]
What do you think?

[2017-10-11 08:54] tsoenen commented on #891
@pkarkazis : will these fields be optional or mandatory in the payload for the Monitoring Manager?

[2017-10-12 06:31] pkarkazis commented on #891
Hi, @jbonnet @tsoenen :  I think that the best practice is to include fields for both customer and developer in the message to the monitoring manager and in case which notifications must be generated only for customer, developer's email address could be null or empty.

[2017-10-31 09:03] jbonnet opened #925 "Paginate packages list"
Currently, only service listing is paginated.

[2017-10-31 10:53] jbonnet commented on #925
Hey, @felipevicens, @srodriguezOPT
I think PR #928 solved this... but can you please check?

[2017-10-31 11:04] jbonnet opened #929 "Duplicate package check is failling"

[2017-10-31 11:37] jbonnet commented on #929
Closed by PR #930

[2017-10-31 11:58] jbonnet opened #931 "Revert single element list"

[2017-10-31 12:38] jbonnet commented on #931
Closed by PR #932

[2017-10-31 12:38] #931 closed

[2017-10-31 16:24] jbonnet opened #935 "Services' and functions' meta-data not being saved"

[2017-11-01 15:10] jbonnet commented on #935
Closed by PR #938

[2017-11-01 15:10] #935 closed

[2017-11-01 15:11] jbonnet commented on #929
Closed by PR #938

[2017-11-01 15:11] #929 closed

[2017-11-01 16:00] jbonnet commented on #432
Closed by PR #939

[2017-11-01 16:00] #432 closed

[2017-11-02 13:41] jbonnet opened #940 "Add validator toggle"
Currently, on-boarded NSDs/VNFDs are always validated. We should add a toggle that may switch that off

[2017-11-03 12:16] dang03 opened #941 "Retrieved package files not woking"
When downloading SONATA package files (.son) from GK API `/packages/uuid/download`, retrieved file can't be opened. It seems that content's bytes are missing or extra added.

If the same operation is done through Catalogue API `/son-packages/uuid`, the retrieved file can be opened. Let's check which part of the process modifies the package file.

[2017-11-08 11:01] tsoenen commented on #889
@jbonnet @srodriguezOPT : If I understand this correctly, the 'descriptor_reference' field in the nsr is empty when it arrives at the BSS? Is this always the case?

[2017-11-16 11:46] dang03 commented on #890
In order to retrieve end-user's (customer type) keypair required to inject to the instances, both Gatekeeper and/or SLM can send request to:
- User Management API: `address:port/api/v1/users?username=`
The query `username=` requires the user account name. Then, parse response JSON message and retrieve next fields:
- `'instances_private_key'`
- `'instances_public_key'`
These fields are found inside

[2017-11-16 12:05] DarioValocchi commented on #890
I'm implementing the IA side of this issue. What is the format that will be used to serialise the pub/priv keypair? I'd like to test in advance key serialisation format recognised/accepted by OpenStack.

[2017-11-16 12:08] DarioValocchi commented on #890
currently, tests worked out well with the openSSH pub-key format
`ssh-rsa _key_ _comment_`

[2017-11-16 13:36] dang03 commented on #890
The keypair is generated using OpenSSL lib (`OpenSSL::PKey::RSA.new(2048)`), then it is encapsulated to PEM format, i.e.:

- `'instances_private_key'`:
[code]
- `'instances_public_key'`:
[code]

[2017-11-16 14:12] DarioValocchi commented on #890
I tested OpenStack KeyPair resource trying to feed it with a PEM formatted public key, but apparently that is not supported.
Is it possible to serialise or convert the key in the openSSH format?

[2017-11-16 15:09] dang03 commented on #890
I'm investigating which are the output supported formats. It is possible to directly store RSA format instead of PEM.

[2017-11-17 07:45] dang03 commented on #890
Hi @DarioValocchi
I changed the output format for the public keys. While private keys are being stored in the same PEM format, `instances_public_key` provides the next openssh format:

[code]
Please, check if is this works properly with Openstack.

[2017-11-17 11:45] DarioValocchi commented on #890
Hi @dang03
This format has been already tested, and a module test is included in the package test of the IA.
Keypair is created runtime with JAVA JSch package, which uses the same format you specified, a test VNF is deployed and ssh login attempt is done by the test package. sonata-nfv/son-sp-infrabstract/pull#119

[2017-11-21 12:30] tsoenen commented on #890
@dang03 @jbonnet : How does the SLM retrieve the keys. Is it included in the service instantiation request from the GK to the SLM, or should the SLM request it directly from the UM API? Is the SLM allowed to use the UM API?

[2017-11-21 12:47] jbonnet commented on #890
Well, @tsoenen...
'Allowed' is a strong word! I still think there are advantages in having a clean architecture: just like the customer's email, the GTK can retrive the key(s) from the UM and inject them in the instantiation request to the SLM...

Is this urgent?

[2017-11-21 12:56] tsoenen commented on #890
@jbonnet Semi-urgent I would say. It would be great if we could close this cycle (including SLM adjustments) by the end of this week.

[2017-11-21 12:59] jbonnet commented on #890
Ok, @tsoenen ...
@dang03 I'll implement this, referring to one of comments above... or do you want to do it?

[2017-11-21 13:10] jbonnet opened #943 "Pass customer's keys to SLM"
#890 automatically generates the keys when a user of type `customer` is created, so when an instantiation request is received, the Gatekeeper should colect those keys and pass them to the SLM, like in
[code]

[2017-11-21 13:16] jbonnet commented on #890
To be implemented under #943 (the Gatekeeper part).
@tsoenen:
1. does the SLM needs both the public and the private keys?
1. is it ok to include them under the `user_data:customer` keys, just like the `email` and `phone`(see #891)?
[code]

[2017-11-21 13:18] tsoenen commented on #890
Yeah, SLM needs both.

I agree with the example

[2017-11-21 13:19] jbonnet commented on #890
Ok, starting it...

[2017-11-21 14:07] jbonnet commented on #943
Hey @tsoenen, @dang03 (cc @felipevicens )
I think it's done! Please use and let me know if that's ok...

[2017-11-22 13:58] jbonnet commented on #943
Closed by PR #944

[2017-11-22 13:58] #943 closed

[2017-11-22 13:59] jbonnet opened #945 "Check password save"
It is not working when `PUT  http://sp.int3.sonata-nfv.eu:32001/api/v2/users?username=<username>` is used

[2017-11-22 14:51] dang03 commented on #945
Hi @jbonnet
If you are trying to update the user's password, the PUT method to `/api/v2/users?` won't do it. It was only intended to update users private and public key. However if this functionality is needed, I can implement it (it requires adding a new case in the code).

[2017-11-22 15:20] jbonnet commented on #945
Ha! Right, @dang03, we need that...
Thanks,

[2017-11-22 15:21] dang03 commented on #945
Ok, there I go!

[2017-11-22 16:03] dang03 commented on #945
@jbonnet How is the body of the message you send to the endpoint?
Is the full user registration message (including a new password) or it only has the new password key: value?
Thanks

[2017-11-22 16:14] jbonnet commented on #945
@dang03 the current API is to update all fields...

[2017-11-23 16:46] jbonnet opened #946 "Sort query results descent creation date"
When multiple results are returned (`GET ...`), they should be sorted descendent by creation date (newer on top).

[2017-11-24 13:20] dang03 commented on #945
Solved.
The 'username' and its 'id' number can't be modified/updated.

[2017-11-24 13:23] jbonnet commented on #945
+1, @dang03
@pkarkazis @mzacharioudakis can you please retest this?

[2017-11-29 10:28] jbonnet opened #948 "Refactor HTTP access code into an adapter gem"
There's code in `son-gtkapi` related to HTTP access to other micro-services which could be isolated into a gem and re-used in those micro-services as well.

[2017-12-06 14:44] jbonnet opened #949 "Bring back the update service feature"

[2017-12-06 16:11] jbonnet commented on #941
hey, @dang03
Sorry, I hadn't seen this bug before.. maybe it's a 'file type' kind of bug? I'll have a look into it...

[2017-12-07 13:58] jbonnet commented on #949
Hola, @srodriguezOPT  (CC @tsoenen )
This feature is implemented, but using the `PUT .../services/<service uuid>` (with the `nsd_id` and `latest_nsd_id` in the body). Do you have time to change this into a better `POST .../requests/` with a `request_type='UPDATE' (besides the previously mentioned `nsd_id` and `latest_nsd_id`) in the body?

[2017-12-11 08:44] srodriguezOPT commented on #949
Hi @jbonnet

This is an easy change. Currently is implemented a `PUT .../records/services/nsr_id` with nsd_id and latest_nsd_id in the body.

I'll change current invocation to looks like the stop instance request:
`POST .../requests` with
[code]

[2017-12-17 15:30] jbonnet opened #952 "Rtrieve records"
Experienced on the lower level SP, in the HSP.
E, [2017-12-14T17:37:59.219319 #6] ERROR -- : no implicit conversion of Time into String
E, [2017-12-14T17:37:59.219482 #6] ERROR -- : ["/usr/local/lib/ruby/2.2.0/time.rb:361:in `_parse'", "/usr/local/lib/ruby/2.2.0/time.rb:361:in `parse'", "/app/models/mq_server.rb:206:in `register_kpi'", "/app/models/mq_server.rb:96:in `block in consume_create'", "/

[2017-12-18 10:15] jbonnet opened #953 "Update to 2.4.3-slim-stretch"

[2017-12-21 09:22] srodriguezOPT opened #956 "Pagination"
Hi @jbonnet , @felipevicens

The GK returns always offset=0 in rel="last" from pagination header link so BSS/GUI can't show the pagination buttons properly:

`<http://sp.int3.sonata-nfv.eu/api/v2/services?offset=0&limit=10>; rel="first",<http://sp.int3.sonata-nfv.eu/api/v2/services?offset=0&limit=10>; rel="last"`

[2017-12-21 09:29] srodriguezOPT opened #957 "Licence always owned by user"
Hi @jbonnet , @felipevicens

The GK is returning "user_licence": "owned" even when the database does not contain any row:

![image](https://user-images.githubusercontent.com/15909508/34249244-5c357e5a-e639-11e7-9143-caedfc9bfedc.png)

[code]

I noticed that because the int-10-bss-gkeeper is failing due to there are never any private licences to request

[2017-12-21 10:43] dang03 commented on #941
Hi @jbonnet,
I have addressed this issue and retrieved package files are fine now.

[2017-12-28 18:10] jbonnet commented on #953
test integration with Taiga

[2017-12-29 11:52] felipevicens opened #963 "Error Instantiating a NS"
From BSS, when an NS is instantiated not using **sonata** user, The answer is 400 with "not request was created" but the request is created and the NS is instantiated.

[code]
**Reply:**

[code]

[2017-12-29 12:01] felipevicens opened #964 "Keypair is not generated when user is created from son-gui"
I've noticed that if the user is created from son-gui, (developer role) then this doesn't have a keypair.

So if the developer instantiate a NS, then it can't access using the default ssh keys injection.

[2017-12-29 13:05] jbonnet commented on #964
Hi,
This is a feature, not a bug :-)
I thought we had agreed that only customers would have this key pair generated...

Is it not?
José

Sent from my iPad

[2017-12-29 13:44] felipevicens commented on #964
Not sure because demo user is a developer and has keypair created. Sonata user doesn't have keypair (Should have it). If we say that the developer will not have a keypair, then we should deny the NS instantiation for developers. right?

[2017-12-29 18:09] jbonnet commented on #964
Yes, that was the idea: intantiating a service should be possible only through he BSS…

José Bonnet
jose.bonnet@me.com

[2018-01-02 16:17] jbonnet commented on #941
:-)
Thank you, @dang03 !

[2018-01-02 16:17] #941 closed

[2018-01-03 17:45] jbonnet opened #970 "Remove foreman dependency"

[2018-01-03 23:12] felipevicens opened #972 "User can't login from son-access due rate limit"
User login from son-access is too fast and can't login because rate limits.
[code]

[2018-01-04 11:27] jbonnet opened #974 "Get rid of capybara dependency"

[2018-01-04 11:48] #974 closed

[2018-01-04 16:14] #970 closed

[2018-01-04 16:16] jbonnet commented on #953
Closed by #966

[2018-01-04 16:16] #953 closed

[2018-01-08 15:12] jbonnet opened #977 "Remove .erb extension from config file"

[2018-01-08 15:25] #977 closed

[2018-01-09 10:13] jbonnet opened #979 "Service instance termination"
Fails when there are other service instances

[2018-01-09 11:49] jbonnet opened #980 "Include VNFR in the Service instance GET"
We need to show at least the IP address in the BSS

[2018-01-09 16:39] #979 closed

[2018-01-12 09:36] dang03 commented on #964
Hi,
Our `demo` user is both `developer` and `customer`, and its keypair is generated due to the latest role.
In the case of `sonata` user, it is an `admin` user, and this role currently does not generate any keypair.
Do you think that an admin user should be able to instantiate a service?

[2018-01-18 09:11] felipevicens opened #983 "Developer can instantiate a service. Wrong condition"
Currently, a user with the role developer can instantiate a service. The API returns 400 (Bad request) but the service is instantiated.

The service can't be instantiated by a user with the role developer.

[2018-01-22 10:37] jbonnet opened #984 "List on-boarded Network Slice Templates"
Coming from [#211](https://git.cs.upb.de/5gtango/UserStories/issues/211)

[2018-01-22 11:13] jbonnet opened #985 "Fetch a Network Slice Template"
Originated from [#212](https://git.cs.upb.de/5gtango/UserStories/issues/212).

[2018-01-23 14:37] jbonnet opened #986 "Fetch on-boarded Package Descriptors"
Originated from [#163](https://git.cs.upb.de/5gtango/UserStories/issues/163). Will also cover search-related issues if implemented with URL parameters, like in `...?field1=value1&field2=value2&...`.

[2018-01-28 16:00] tsoenen opened #987 "GK API to terminate a running service triggers internal error."
Posting on https://sp.int3.sonata-nfv.eu/api/v2/requests with token and payload {request_type: "TERMINATE", service_instance_uuid: "c6c4cf59-6b89-476a-8cc4-5b9641704262"} results in an internal error (500)

[code]

[2018-02-09 11:35] tsoenen opened #991 "Requesting authentication token sometimes fails"
Hi guys (@jbonnet @dang03 @felipevicens ),

I noticed that sometimes, the SLM fails to receive a token when requesting one. This is from the GK logs when such an event arises. Its hard to reproduce, it just happens sometimes:

[code]

[2018-02-14 12:28] tsoenen commented on #991
Hi @jbonnet @dang03 @felipevicens ,

Since this issue occurs once in a while (see this mornings demo during the call), we need a fix or a workaround to be in a good shape to demo the pilots during the review.

Have we made any progress in locating the source of the issue?

[2018-02-15 13:56] dang03 commented on #991
Hello @tsoenen,
I'm investigating this issue and haven't been able to reproduce it.
If this happens again, I need to know more information about the status of the User Management.
Logs can be accessed through http://xx.xx.sonata-nfv.eu:5600/admin/log
It is also important to state if the User Management was recently deployed or if it was already running for some time.

I'll keep checking.

[2018-02-21 09:15] dang03 commented on #991
Hi,
The code for the micro-services login process has been checked from GK API to User Manager component, with no issues found on the code.

I achieved to reproduce the error for one scenario. Apparently the problem is that the SLM micro-service is no longer registered in the Keycloak framework, when it is attempting to login to the platform.

This issue is probably due to a workflow problem relat

[2018-03-04 12:05] felipevicens opened #998 "son-gtksrv prevent crash if rabbitmq is not available when boot"
If rabbitmq is not available then the container crashs:

[code]

[2018-03-04 15:08] jbonnet commented on #998
Hmm...
Shall we add some 'waiting' cycles when deploying, like when we deploy User Management, or do you see another approach?

[2018-03-04 19:35] felipevicens commented on #998
Maybe some error handling and heartbeat as described here:

http://rubybunny.info/articles/error_handling.html

and here:

http://rubybunny.info/articles/connecting.html

[2018-04-19 15:46] felipevicens opened #1000 "Wrong error when pushing a package and not catalogues available"
When we push a package to the catalogues and the repositories are not available the package should return `cannot connect to catalogues`. Instead, it is returning `409 conflict, package is duplicated.`

[code]

[2019-07-04 14:48] VivekJaganath opened #1002 "Error while running gtk-api"
i am getting below error while running gtk-api

/app/models/mano_manager_service.rb:34: warning: previous definition of LOG_MESSAGE was here
- Gracefully stopping, waiting for requests to finish
! Unable to load application: NoMethodError: undefined method `stop' for nil:NilClass
bundler: failed to load command: puma (/usr/local/bundle/bin/puma)
NoMethodError: undefined method `stop' for nil:NilCl